.neon-text {
    color: rgb(255, 16, 240);
}

@keyframes ad-scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.animate-ad {
    display: inline-block;
    animation: ad-scroll 60s linear infinite;
}

body {
    background-color: #000000;
    font-family: 'Orbitron', sans-serif;

}

hr {
    border: none;
    background-color: rgb(31, 81, 255);
    height: .094rem;
}