.neon-text {
    color: rgb(255, 16, 240);
}

@keyframes ad-scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.animate-ad {
    display: inline-block;
    animation: ad-scroll 60s linear infinite;
}

body {
    background-color: #000000;
    font-family: 'Orbitron', sans-serif;

}

hr {
    border: none;
    background-color: rgb(31, 81, 255);
    height: .094rem;
}

html {
    overflow-y: auto;
    overflow-x: hidden;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20rem;
    margin: 8rem 2rem 8rem 2rem;
}

.grid-image {
    width: 100%;
    height: auto;
    box-shadow: 0 0 1rem rgb(255, 16, 240);
}

.grid-image:hover {
    animation: white-border 1s ease-in-out infinite alternate;
}

.grid-image-blue:hover {
    animation: white-border 1s ease-in-out infinite alternate;
}

.grid-image-blue {
    width: 100%;
    height: auto;
    box-shadow: 0 0 1rem rgb(31, 81, 255);
}

@keyframes white-border {
    0% {
        box-shadow: 0 0 1rem rgba(255, 255, 255, 0);

    }

    100% {
        box-shadow: 0 0 1rem rgba(255, 255, 255, 1);

    }

}

@keyframes neon-pink-border {
    0% {
        box-shadow: 0 0 1rem rgba(255, 16, 240, 0);

    }

    100% {
        box-shadow: 0 0 1rem rgba(255, 16, 240, 1);

    }

}

button:hover {
    animation: white-border 1s ease-in-out infinite alternate;
}

.middle-ul>li>button {
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 10%;
}

.product-page {
    color: rgb(31, 81, 255);
    animation: neon-pink-border 5s ease-in-out infinite alternate;
}

.prod-image {
    box-shadow: 0 0 .5rem rgba(255, 255, 255, 1);
    margin: 2rem 2rem 2rem 2rem;
}

.add-btn {
    background-color: rgb(31, 81, 255);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10%;
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 0 0 .5rem rgba(255, 255, 255, 1);
}

.cart-page {
    animation: neon-pink-border 5s ease-in-out infinite alternate;
}

.checkout {
    color: rgb(31, 81, 255);
}

.add-cart-btn:hover {
    color: rgb(255, 16, 240)
}

.flash-msg {
    animation: quickfade 1s ease-in-out;
}

@keyframes quickfade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}